@charset "UTF-8";
body {
  justify-content: center;
  margin: 0;
  background-color: #9b9b9b;
  font-family: "微軟正黑體", sans-serif;
}

h1 {
  font-size: 180px;
}

.c-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #ba6196;
  opacity: 1;
  transition: opacity 0.5s 0.3s;
}
.c-loading.has-loaded {
  opacity: 0;
  pointer-events: none;
}
.c-loading.has-loaded .c-loading__progress-bar {
  width: 0;
}
@-webkit-keyframes jumping {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}
@keyframes jumping {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}
.c-loading__text {
  font-size: 18px;
  color: #fff;
  -webkit-animation: jumping 0.5s both alternate infinite;
          animation: jumping 0.5s both alternate infinite;
}
.c-loading__progress-bar {
  display: flex;
  align-items: center;
  width: 200px;
  height: 12px;
  margin-top: 15px;
  border-radius: 12px;
  border: 4px solid #fff;
  background-color: #fff;
  overflow: hidden;
  transition: width 0.3s;
}
@-webkit-keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}
@keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}
.c-loading__progress {
  width: 0;
  height: 100%;
  border-radius: 12px;
  background-color: #8c3f6d;
  -webkit-animation: loading 0.5s both alternate infinite;
          animation: loading 0.5s both alternate infinite;
}